{% include 'start.html' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 bg-dark text-light">
                <p class="text-center font-weight-bold h5">NEW VULNERABILITIES [{{ checkcve_number }}]</p>
            </div>
        </div>
    </div>
    {% if not checkcve %}
    <div class="container-fluid">
        <br><br><br><br><br><br>
        <div class="row">
            <div class="col-sm-12 bg-dark text-light">
                <p class="text-center font-weight-bold h1">NO NEW VULNERABILITIES</p>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container-fluid TEXT">
        {%for i in checkcve%}
            <div class="row">
                {% if i['baseScore'] > 9.0 %}
                <div class="col-sm-2 CRITICAL-info text-dark position-relative">
                    <p class="text-center h5 font-weight-bold">{{i['_id']}} - {{i['baseScore']}}</p>
                {% elif i['baseScore'] > 7.0 %}
                <div class="col-sm-2 HIGH-info text-dark position-relative">
                    <p class="text-center h5 font-weight-bold">{{i['_id']}} - {{i['baseScore']}}</p>
                {% elif i['baseScore'] > 4.0 %}
                <div class="col-sm-2 MEDIUM-info text-dark position-relative">
                    <p class="text-center h5 font-weight-bold">{{i['_id']}} - {{i['baseScore']}}</p>
                {% elif i['baseScore'] > 0.0 %}
                <div class="col-sm-2 LOW-info text-dark position-relative">
                    <p class="text-center h5 font-weight-bold">{{i['_id']}} - {{i['baseScore']}}</p>
                {% else %}
                <div class="col-sm-2 INFO-info text-dark position-relative">
                    <p class="text-center h5 font-weight-bold">{{i['_id']}}</p>
                {% endif %}
                    <p class="text-center description">{{i['vectorString']}}</p>
                    <a class="stretched-link" href="/check_cve/{{i['_id']}}"></a>
                </div>

                {% if i['baseScore'] > 9.0 %}
                <div class="col-sm-8 CRITICAL-info text-dark position-relative">
                {% elif i['baseScore'] > 7.0 %}
                <div class="col-sm-8 HIGH-info text-dark position-relative">
                {% elif i['baseScore'] > 4.0 %}
                <div class="col-sm-8 MEDIUM-info text-dark position-relative">
                {% elif i['baseScore'] > 0.0 %}
                <div class="col-sm-8 LOW-info text-dark position-relative">
                {% else %}
                <div class="col-sm-8 INFO-info text-dark position-relative">
                {% endif %}
                    <p class="description line-clamp-5">{{i['description']}}</p>
                    <a class="stretched-link" target="_blank" href="https://nvd.nist.gov/vuln/detail/{{i['_id']}}"></a>
                </div>
                
                {% if i['baseScore'] > 9.0 %}
                <div class="col-sm-2 CRITICAL-info text-dark">
                {% elif i['baseScore'] > 7.0 %}
                <div class="col-sm-2 HIGH-info text-dark">
                {% elif i['baseScore'] > 4.0 %}
                <div class="col-sm-2 MEDIUM-info text-dark">
                {% elif i['baseScore'] > 0.0 %}
                <div class="col-sm-2 LOW-info text-dark">
                {% else %}
                <div class="col-sm-2 INFO-info text-dark">
                {% endif %}
                    <p class="text-center">{{i['lastModifiedDate']}}</p>
                </div>
            </div>
            <div class="row SEPARATOR"></div>
        {%endfor%}
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 bg-dark text-light position-relative">
                <p class="text-center font-weight-bold h5">MARK ALL AS READ</p>
                <a class="stretched-link" href="/check_cve/ALL"></a>
            </div>
        </div>
    </div>
    {% endif %}
{% include 'end.html' %}