<!DOCTYPE html>
<html lang="en">
<head>
    <title>CVE</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 bg-dark text-light">
                <p class="text-center font-weight-bold h2">CVEs DASHBOARD</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-1 bg-dark text-light menu position-relative">
                <p>LAST 10<br>PUBLISHED</p>
                <a class="stretched-link" href="/last/published"></a>
            </div>
            <div class="col-sm-1 bg-dark text-light menu position-relative">
                <p>LAST 10<br>MODIFIED</p>
                <a class="stretched-link" href="/last/modified"></a>
            </div>
            <div class="col-sm-1 bg-dark text-light menu position-relative">
                <p>MODIFIED<br>TODAY</p>
                <a class="stretched-link" href="/today/modified"></a>
            </div>
            <div class="col-sm-1 bg-dark text-light menu position-relative">
                <p>PUBLISHED<br>TODAY</p>
                <a class="stretched-link" href="/today/published"></a>
            </div>
            <div class="col-sm-1 bg-dark text-light menu position-relative">
                <p>LAST<br>72h</p>
                <a class="stretched-link" href="/last/72h"></a>
            </div>
            <div class="col-sm-1 bg-dark text-light menu position-relative">
                <p>CHECK<br>CVE</p>
                <a class="stretched-link" href="/check_cve"></a>
            </div>
            <div class="col-sm-1 bg-dark text-light menu position-relative">
            </div>
            <div class="col-sm-1 bg-dark text-light menu position-relative">
            </div>
            <div class="col-sm-1 bg-dark text-light menu position-relative">
                <p>LAST 10<br>KEV</p>
                <a class="stretched-link" href="/last/kev"></a>
            </div>
            <div class="col-sm-1 bg-dark text-light menu position-relative">
                <p>KEV<br>TODAY</p>
                <a class="stretched-link" href="/today/kev"></a>
            </div>
            <div class="col-sm-1 bg-dark text-light menu position-relative">
                <p>PATCH<br>TUESDAY</p>
                <a class="stretched-link" href="/patchtuesday"></a>
            </div>
            <div class="col-sm-1 bg-dark text-light menu position-relative">
                <p>FAST<br>TUESDAY</p>
                <a class="stretched-link" href="/fasttuesday"></a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 bg-primary text-light">
                <p class="text-center font-weight-bold h4">TOTAL</p>
                <p class="text-center h5">{{ numberOfCVE }}</p>
            </div>
            <div class="col-sm-2 CRITICAL text-light">
                <p class="text-center font-weight-bold h4">CRITICAL</p>
                <p class="text-center h5">{{ numberOfCVE_CRITICAL }}</p>
            </div>
            <div class="col-sm-2 HIGH text-light">
                <p class="text-center font-weight-bold h4">HIGH</p>
                <p class="text-center h5">{{ numberOfCVE_HIGH }}</p>
            </div>
            <div class="col-sm-2 MEDIUM text-light">
                <p class="text-center font-weight-bold h4">MEDIUM</p>
                <p class="text-center h5">{{ numberOfCVE_MEDIUM }}</p>
            </div>
            <div class="col-sm-2 LOW text-light">
                <p class="text-center font-weight-bold h4">LOW</p>
                <p class="text-center h5">{{ numberOfCVE_LOW }}</p>
            </div>
            <div class="col-sm-2 bg-primary text-light">
                <p class="text-center font-weight-bold h4">No Score</p>
                <p class="text-center h5">{{ numberOfCVE_NoScore }}</p>
            </div>
        </div>
    </div>