body {
    background-color: #212529;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}

.TEXT {
    background-color: white;
}

.CRITICAL {
    background-color: #000000;
}
.CRITICAL-info {
    background-color: rgba(0, 0, 0, 0.50)
}

.HIGH {
    background-color: #FF0000;
}
.HIGH-info {
    background-color: rgba(255, 0, 0, 0.50)
}

.MEDIUM {
    background-color: #FF701E;
}
.MEDIUM-info {
    background-color: rgba(255, 112, 30, 0.50)
}

.LOW {
    background-color: #FFC81E;
}
.LOW-info {
    background-color: rgba(255, 200, 30, 0.50)
}

.INFO {
    background-color: #0D6EFD;
}

.INFO-info {
    background-color: rgba(13, 110, 253, 0.5);
}

.SEPARATOR {
    height: 5px;
    background-color: #212529;
}

.font-weight-bold {
    font-weight: bold;
}

.description {
    font-size: small;
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.line-clamp-5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.menu{
    font-size: smaller;
}

div {
    word-break: break-all;
    box-sizing: border-box;
}